body{
    background-color: #AB6D94;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color: white;
    color: #AB6D94;
    
}

nav{
text-align: center;

}

nav a{
    font-size: 50px;
    color: #AB6D94;
} 
nav a:hover {
    color:black
    background-color: #EFECE9;
}

img{
    width: 50%;

}

footer{
background-color:white

}


