body{
    background-color: #AB6D94;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color: white;
    color: #AB6D94;
}
nav a{
    font-size: 50px;
    text-align: center;
    color: #AB6D94;
}
nav a:hover {
    color: #F6C7ED;
    background-color: #EFECE9;
}